<%= form_tag acquire_pet_path(@pet), class: "form-horizontal" do %>

  <% hashed_acquirings = acquirings_hash(@acquirings) %>
  <% Skill::ACQUIRING_LEVEL.each do |level| %>
    <% skill = hashed_acquirings[level].skill if hashed_acquirings[level] %>
    <div class="control-group" id = "level-<%= level %>">
      <%= label_tag level, level, class: "control-label" %>
      <div class="controls">
        <%= text_field_tag 'skills[][skill_id]', skill.nil? ? "" : skill.id, type: 'hidden' %>
        <%= text_field_tag 'skills[][acquire_level]', level, type: 'hidden' %>
        <%= text_field_tag 'skills[][title_cn]', skill.nil? ?  "" : skill.title_cn, class: "input-xlarge" %>
        <span class="help-inline"><%= skill.description if skill %></span>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= submit_tag "Submit", class: "btn btn-primary", id: "submit_skill" %>
  </div>

<% end %>
