<%= form_tag acquire_pet_path(@pet), class: "form-horizontal" do %>

  <% hashed_acquirings = acquirings_hash(@acquirings) %>
  <% Skill::ACQUIRING_LEVEL.each do |i| %>
    <% skill = hashed_acquirings[i].skill if hashed_acquirings[i] %>
    <div class="control-group" id=i>
      <%= label_tag i,i, class: "control-label" %>
      <div class="controls">
        <%= text_field_tag 'skills[][skill_id]', skill.nil? ? "" : skill.id, type: 'hidden' %>
        <%= text_field_tag 'skills[][acquire_level]', i, type: 'hidden' %>
        <%= text_field_tag 'skills[][title_cn]', skill.nil? ?  "" : skill.title_cn, class: "input-xlarge" %>
        <span class="help-inline"><%= skill.description if skill %></span>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= submit_tag "Submit", class: "btn btn-primary" %>
  </div>

<% end %>
