<%= paginate @pets %>
<table class="table table-striped">
  <tr>
    <th>Icon</th>
    <th>Title cn</th>
    <th>Skills</th>
    <th>Source</th>
    <th>Special</th>
    <th>Category</th>
    <th>Data Status</th>
  </tr>

<% @pets.each do |pet| %>
  <tr>
    <td><%= image_tag pet.icon_url,:style => "height: 24px" %></td>
    <td><%= link_to pet.title_cn, pet %></td>
    <td><%=raw list_skill_icons pet %></td>
    <td><%= pet.source %></td>
    <td>Normal</td>
    <td><%= image_tag "#{pet.category.slug}.png", size: "24x24" %></td>
    <td><%= reviewed_label pet.reviewed %></td>
  </tr>
<% end %>
</table>
<%= paginate @pets %>
