<div class="page-header">
  <h1>Pets</h1>
</div>
<div class="input-append">
  <%= form_tag search_pets_path, method: :get, class: "form-horizontal" do %>
    <%= text_field_tag "q", '', size: 16 -%><%= submit_tag 'Search',name: nil ,class: 'btn' %>
  <% end -%>
</div>


<%= render partial: 'table' %>

<% if session[:user_id] %>
  <div class="admin-btn-panel">
    <%= link_to 'New Pet', new_pet_path, class: "btn" %>
  </div>
<% end %>
