<div class="page-header">
  <h1>Pets</h1>
</div>

<%= form_tag search_pets_path, method: :get, class: "well form-inline" do %>
  <%= text_field :search, :title, class: "input-small", placeholder: "名称" %>
  <%= select :search, :category, options_of_categories, {prompt: "物种"} , class: "input-small" %>
  <%= select :search, :source, Pet::SOURCES , {prompt: "来源"}, class: "input-small" %>
  <%= text_field :search, :zone, class: "input-small", placeholder: "地点" %>
  <%= submit_tag "Search", class: "btn", name: nil %>
<% end %>

<%= render partial: 'table' %>

<%= div_if session[:user_id], class: "admin-btn-panel" do %>
  <%= link_to 'New Pet', new_pet_path, class: "btn" %>
<% end %>
