<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= image_tag @pet.icon_url, style: "vertical-align: middle" %> <%= @pet.title_cn%></h1>
</div>
  <blockquote>如此可爱，如此神奇。<%= @pet.description %></blockquote>
<div class="container">
  <div class="span4">
    <div class="well">
      <h2><small>宠物名片</small></h2>
    </div>
  </div>
</div>


<p>
  <b>Blz:</b>
  <%= @pet.blz_id %>
  </p>

<p>
  <b>Status:</b>
  <%= @pet.status %>
</p>


<p>
  <b>Source:</b>
  <%= @pet.source %>
</p>

<p>
  <b>Event:</b>
  <%= @pet.event %>
</p>

<p>
  <b>Weather:</b>
  <%= @pet.weather %>
</p>

<p>
  <b>Season:</b>
  <%= @pet.season %>
</p>

<p>
  <b>Nga url:</b>
  <%= @pet.nga_url %>
</p>

<p>
  <b>Category:</b>
  <%= @pet.category_id %>
</p>



<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
