<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= image_tag @pet.icon_url, style: "vertical-align: middle" %> <%= @pet.title_cn%></h1>
</div>
  <blockquote><%= @pet.description %></blockquote>
<div class="container">
  <div class="span4">
    <div class="well">
      <h2><small>宠物名片</small></h2>
      <div class="row">
        <span class="span1"><span class="label label-info">姓名</span></span>
        <span class="span2"><%= @pet.title_cn %></span>
      </div>

      <div class="row">
        <span class="span1"><span class="label label-info">来源</span></span>
        <span class="span2"><%= @pet.source %></span>
      </div>      
      <div class="row">
        <span class="span1"><span class="label label-info">获取地点</span></span>
        <span class="span2"><%= show_zones @zones %></span>
      </div>
      <div class="row">
        <span class="span1"><span class="label label-info">技能列表</span></span>
        <span class="span2"></span>
      </div>
    </div>
  </div>
</div>

<h2>Abilities</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>AL</th>
      <th>Icon</th>
      <th>Name</th>
      <th>Decription</th>
      <th>Category</th>
      <th>Hit Rate</th>
    </tr>
  </thead>
  <tbody>
    <% @acquirings.each do |acquiring| -%>
      <% skill = acquiring.skill %>
      <tr>
        <td><%= acquiring.acquire_level %></td>
        <td><%= image_tag "skills/#{skill.blz_id}.jpg", size: "18x18"%></td>
        <td><%= link_to skill.title_cn, skill %></td>
        <td><%= simple_format skill.description %></td>
        <td><%= image_tag skill.category.icon_url, size: "18x18" %></td>
        <td><%= show_hit_rate skill.hit_rate %></td>
      </tr>
    <% end -%>
  <tbody>
</table>
<p>
  <b>Blz:</b>
  <%= @pet.blz_id %>
  </p>

<p>
  <b>Status:</b>
  <%= @pet.status %>
</p>


<p>
  <b>Source:</b>
  <%= @pet.source %>
</p>

<p>
  <b>Event:</b>
  <%= @pet.event %>
</p>

<p>
  <b>Weather:</b>
  <%= @pet.weather %>
</p>

<p>
  <b>Season:</b>
  <%= @pet.season %>
</p>

<p>
  <b>Nga url:</b>
  <%= @pet.nga_url %>
</p>

<p>
  <b>Category:</b>
  <%= @pet.category_id %>
</p>



<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
