<div class="page-header">
  <h1>Skills</h1>
</div>

<div class="input-append">
  <%= form_tag search_skills_path, method: :get, class: "form-horizontal" do %>
    <%= text_field_tag "q", '', size: 16 -%><%= submit_tag 'Search',name: nil ,class: 'btn' %>
  <% end -%>
</div>

<%= paginate @skills %>
<table class="table table-striped">
  <tr>
    <th>Icon</th>
    <th>Title cn</th>
    <th>Description</th>
    <th>Hit rate</th>
    <th>Category</th>
    <th>Cd</th>
  </tr>

<% @skills.each do |skill| %>
  <tr>
    <td><%= image_tag "skills/#{skill.blz_id}.jpg", size: "24x24" %></td>
    <td><%= link_to skill.title_cn, skill_path(skill) %></td>
    <td><%= raw skill.description.gsub("\n", '<br />') %></td>
    <td><%= number_to_percentage skill.hit_rate, precision: 0 %></td>
    <td><%= image_tag skill.category.icon_url, size: "24x24" %></td>
    <td><%= skill.cd %></td>
  </tr>
<% end %>
</table>
<%= paginate @skills %>
<br />

<%= link_to 'New Skill', new_skill_path %>
