<div class="page-header">
  <h1>
    <%=image_tag "zones/#{@zone.blz_id}.jpg", size: "26x26", style: "vertical-align: middle" -%>
    <%= @zone.title_cn %>
  </h1>
</div>
<p id="notice"><%= notice %></p>

<p>
  <%= @zone.description %>
</p>

<% if @local_pets.count > 0 %>
<h2><small>本地特有宠物</small></h2>
<ul>
  <% @local_pets.each do |pet|%>
    <li><%= link_to pet.title_cn, pet_path(pet) %></li>
  <% end%>
</ul>
<% end %>

<h2>Pets</h2>

<%= render partial: 'pets/table' %>

<%= link_to raw('<i class="icon-chevron-left"></i> Back'), zones_path, class: "btn" %>
<% if session[:user_id] %>
  <div class="admin-btn-panel form-actions">
    <%= link_to 'Edit', edit_zone_path(@zone), class: 'btn btn-primary' %>
    <%= button_to 'Destroy', @zone, method: :delete, confirm: 'Are you sure?' , class: 'btn btn-danger' %> 
  </div>
<% end %>
