<h1><%= @zone.title_cn %></h1>

<p id="notice"><%= notice %></p>

<p>
  <%= @zone.description %>
</p>

<% unless @children_zones.blank? %>
  <ul>
    <% @children_zones.each do |zone| %>
      <li><%= link_to zone.title_cn, zone_path(zone) %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_zone_path(@zone) %> |
<%= link_to 'Back', zones_path %>
