<div class="page-header">
  <h1>Pet Categories</h1>
</div>

<table class="table table-striped">
  <tr>
    <th>Icon</th>
    <th>Title</th>
    <th>Features</th>
    <th>Decay with</th>
    <th>Restrain on</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= image_tag category.icon_url, size: "24x24" %></td>
    <td><%= link_to category.title_cn, category %></td>
    <td><%= category.features %></td>
    <td><%= image_tag category.decay.icon_url, size: "24x24" %></td>
    <td><%= image_tag category.restrain.icon_url, size: "24x24" %></td>
  </tr>
<% end %>
</table>
