<h1>Pet Categories</h1>

<table class="table table-striped">
  <tr>
    <th>Icon</th>
    <th>Title</th>
    <th>Features</th>
    <th>Decay with</th>
    <th>Restrain on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= image_tag category.icon_url, size: "24x24" %></td>
    <td><%= category.title_cn %></td>
    <td><%= category.features %></td>
    <td><%= category.decay_with %></td>
    <td><%= category.restrain_on %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
