<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1><%= image_tag @category.icon_url, size: "36x36" %> <%= @category.title_cn %></h1>
</div>

<p><i class="icon-ok"></i> <strong><%= @category.features %></strong></p>

<p><i class="icon-arrow-up"></i> Suffer <strong style="color: red">150%</strong> damage VS <%= image_tag @category.enemy.icon_url, size: "26x26", style: "vertical-align: middle" %></p>
<p><i class="icon-arrow-down"></i> Suffer <strong style="color: green">&nbsp;66%</strong> damage VS <%= image_tag @category.rookie.icon_url, size: "26x26", style: "vertical-align: middle" %></p>

<%= render partial: 'pets/table' %>

<%= link_to raw('<i class="icon-chevron-left"></i> Back'), categories_path, class: "btn" %>
