<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1><%= image_tag @category.icon_url, size: "36x36" %> <%= @category.title_cn %></h1>
</div>

<p><i class="icon-ok"></i> <strong><%= @category.features %></strong></p>

<p>
  <b>Decay with:</b>
  <%= @category.decay_with %>
</p>

<p>
  <b>Restrain on:</b>
  <%= @category.restrain_on %>
</p>

<%= render partial: 'pets/table' %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
