<h1><small>Hegwin's Battlepets</small></h1>
<div class="well" style="padding: 8px 0">
<ul class="nav nav-list">
  <li class="nav-header">Useful links</li>
  <li><%= link_to raw('<i class="icon-home"></i> Home'), pets_path %></li>
  <li><%= link_to raw('<i class="icon-heart"></i> Pets'), pets_path%></li>
  <li><%= link_to raw('<i class="icon-screenshot"></i> Skills'), skills_path%></li>
  <li><%= link_to raw('<i class="icon-flag"></i> Zones'), zones_path%></li>
  <li><%= link_to raw('<i class="icon-th-list"></i> Categories'), categories_path %></li>
  <li class="nav-header">Contact me</li>
  <li><a href="http://mail.163.com/share/mail2me.htm#email=122119116051049053064049054051046099111109" target="_blank"><i class="icon-envelope"></i> Email</a></li>
  <li><a href="http://hegwin.diandian.com/" target="_blank"><i class="icon-pencil"></i> Blog</a></li>
<% if session[:user_id ]%>
  <li class="nav-header">Admin</li>
  <li><%= button_to "Logout", logout_path ,method: :delete, class: 'btn btn-mini' %></li>
<% end%>
  <li class="nav-header">Version</li>
  <li><%= link_to raw('<i class="icon-random"></i> 1.2.0'), 'https://github.com/hegwin/wow-pet-battle-info' %></li>
</ul>
</div>
